.about {
  padding: 0 1rem;
}

.about__username {
  margin: 0;

  font-size: 2rem;
}

.about__status,
.about__intro {
  margin: 0 0 0.5rem;

  font-size: 1.5rem;
}

.about__skills--title {
  margin: 1rem 0 0.5rem;
  padding-top: 0.5rem;
  border-top: 2px solid var(--box-color-text);

  text-align: center;
  font-size: 2rem;
}

.about__skills > .about__skill {
  position: relative;

  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;

  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: white;
}

.skill-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;

  height: 2rem;
  border-radius: 0.25rem;
  opacity: 0.8;
}

.about__skill:last-of-type {
  margin: 0;
}

@media (max-width: 960px) {
  .about__skills > .about__skill {
    font-size: 1.2rem;
  }

  .skill-background {
    height: 1.7rem;
  }
}

@media (max-width: 480px) {
  .about {
    padding: 0.5rem 0.5rem 0;
  }

  .about__username {
    font-size: 1.5rem;
  }

  .about__status,
  .about__intro {
    font-size: 1.2rem;
  }

  .about__skills--title {
    font-size: 1.5rem;
  }
}
