.contact-info {
  padding: 0 1rem;
}

.contact-info__email--label,
.contact-info__blog--label,
.contact-info__github--label {
  margin: 0;

  font-size: 2rem;
}

.contact-info__email,
.contact-info__blog,
.contact-info__github {
  margin: 0 0 2rem;
  opacity: 0.9;

  font-size: 1.5rem;
  color: white;
}

.contact-info__github {
  margin: 0;
}

.contact-info__blog > a,
.contact-info__github > a {
  all: unset;
  transition: all 0.4s linear;
  cursor: pointer;

  color: white;
}

.contact-info__blog > a:hover,
.contact-info__github > a:hover {
  color: var(--box-color-text);
}

@media (max-width: 480px) {
  .contact-info {
    padding: 0.5rem 0.5rem 0;
  }

  .contact-info__email--label,
  .contact-info__blog--label,
  .contact-info__github--label {
    font-size: 1.5rem;
  }

  .contact-info__email,
  .contact-info__blog,
  .contact-info__github {
    font-size: 1.2rem;
  }
}
