/* reference to SF-style interface design
https://www.sitepoint.com/14-top-sci-fi-designs-to-inspire-your-next-interface/
https://answers.ea.com/t5/General-Discussion/Our-single-minded-mission-tracker/td-p/6047517
https://graphicriver.net/item/hud-interface-elements-xt2/21617593
*/

:root {
  --box-color-title: #ffffff;
  --box-color-text: #5caaad;
  --box-color-background: rgba(0, 0, 0, 0.3);
  --fadein-duration: 0.4s;
  --slidein-duration: 0.4s;
  --slidein-delay-gap: 0.5s;
  --html-color-background: #e65127;
  --css-color-background: #0c73b8;
  --javascript-color-background: #e7a328;
  --react-color-background: #70cbf2;
  --nodejs-color-background: #739d69;
  --expressjs-color-background: #353535;
  --mysql-color-background: #32738c;
}

.skill-html {
  background: var(--html-color-background);
}

.skill-css {
  background: var(--css-color-background);
}

.skill-javascript {
  background: var(--javascript-color-background);
}

.skill-react {
  background: var(--react-color-background);
}

.skill-nodejs {
  background: var(--nodejs-color-background);
}

.skill-expressjs {
  background: var(--expressjs-color-background);
}

.skill-mysql {
  background: var(--mysql-color-background);
}

.description-box {
  position: absolute;
  top: 20%;
  left: 60%;
  right: 2rem;
  max-height: 60%;
  overflow-y: auto;
  transition: all 0.4s linear;
  border-radius: 0.5rem;

  background: var(--box-color-background);
  font-family: 'Iceland', cursive;
  color: var(--box-color-text);
  font-size: 1.25rem;
  text-align: left;
  word-wrap: break-word;

  animation-name: fadein;
  animation-duration: var(--fadein-duration);
  animation-timing-function: linear;
}

.description-box::-webkit-scrollbar {
  width: 0.5rem;
}

.description-box::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 0.5rem;

  background: var(--box-color-text);
  background-clip: padding-box;
}

.description-box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem var(--box-color-text);
  border-radius: 0.5rem;

  background: var(--box-color-background);
}

.description__title,
.description__subtitle,
.description__body {
  margin: 0;
  padding: 1.5rem;
  opacity: 0;

  animation-name: slidein;
  animation-duration: var(--slidein-duration);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.description__title {
  padding-bottom: 0.5rem;

  font-family: 'Bungee', cursive;
  color: var(--box-color-title);
  text-shadow: 0 0 0.2rem var(--box-color-title);
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;

  animation-delay: calc(var(--fadein-duration) + var(--slidein-delay-gap));
}

.decorative-line {
  width: 100%;
  height: 2px;

  background: linear-gradient(
    to right,
    var(--box-color-background) 5%,
    var(--box-color-text) 50%,
    var(--box-color-background) 95%
  );
}

.description__subtitle {
  padding-top: 0.5rem;

  font-family: 'Bungee', cursive;
  text-shadow: 0 0 0.1rem var(--box-color-text);
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-align: center;

  animation-delay: calc(var(--fadein-duration) + 2 * var(--slidein-delay-gap));
}

.description__body {
  padding-top: 0;

  animation-delay: calc(var(--fadein-duration) + 3 * var(--slidein-delay-gap));
}

.fadeout {
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
