:root {
  --link-color-hover: #5caaad;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0.5rem 1rem;

  color: white;
}

.nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0;
}

.nav__link {
  list-style: none;
  transition: all 0.4s linear;

  font-family: 'Bungee', cursive;
  font-size: 2rem;
  line-height: 2rem;
}

.nav__link:hover {
  text-shadow: 0 0 0.2rem #fff, 0 0 1rem var(--link-color-hover),
    0 0 1.5rem var(--link-color-hover), 0 0 2rem var(--link-color-hover),
    0 0 2.5rem var(--link-color-hover);
}

@media (max-width: 768px) {
  .navigation {
    padding-top: 1rem;
  }

  .nav__container {
    flex-wrap: wrap;
  }

  .nav__link {
    width: 50%;
    margin-bottom: 1.5rem;
  }

  .nav__link:nth-of-type(n + 3):nth-of-type(-n + 4) {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .nav__container {
    margin: 0;
  }

  .nav__link {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
