:root {
  --link-color-hover: #5caaad;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0.5rem 1rem;

  color: white;
}

.nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0;
}

.nav__link {
  list-style: none;
  transition: all 0.4s linear;

  font-family: 'Bungee', cursive;
  font-size: 2rem;
  line-height: 2rem;
}

.nav__link:hover {
  text-shadow: 0 0 0.2rem #fff, 0 0 1rem var(--link-color-hover),
    0 0 1.5rem var(--link-color-hover), 0 0 2rem var(--link-color-hover),
    0 0 2.5rem var(--link-color-hover);
}
