.portfolio-item {
  position: relative;

  margin-bottom: 1rem;
  padding: 0.5rem 1rem 0;
  transition: all 0.3s linear;
  border-radius: 0.5rem;
}

.portfolio-item:last-of-type {
  margin-bottom: 0;
}

.portfolio-item:hover {
  background: rgba(255, 255, 255, 0.15);
}

.portfolio-item__title {
  width: calc(100% - 4.5rem);
  margin: 0 0 0.5rem;

  font-family: 'Audiowide', cursive;
  color: var(--box-color-title);
  text-shadow: 0 0 0.1rem var(--box-color-title);
  font-size: 1.25rem;
}

.portfolio-item__subtitle {
  margin: 0;

  font-family: 'Audiowide', cursive;
  text-shadow: 0 0 0.1rem var(--box-color-text);
  font-size: 1rem;
}

.portfolio-item__description {
  margin: 0;

  text-shadow: 0 0 0.2rem var(--box-color-text);
}

.portfolio-item__skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 0.5rem;
}

.portfolio-item__skill {
  margin: 0.3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.4s linear;
  opacity: 0.8;

  color: white;
  text-align: center;
}

.portfolio-item__skill:hover {
  opacity: 1;
}

.portfolio-item__links {
  position: absolute;
  top: 0.5rem;
  right: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-item__link {
  all: unset;
  display: block;
  margin-left: 0.5rem;
  transition: all 0.4s linear;
  cursor: pointer;
  opacity: 0.9;

  color: white;
}

.portfolio-item__link:hover {
  color: var(--box-color-text);
}

.portfolio-item__link > svg {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 480px) {
  .portfolio-item {
    padding: 0.5rem 0.5rem 0;
  }

  .portfolio-item__title {
    width: calc(100% - 4rem);

    font-size: 1.1rem;
  }

  .portfolio-item__subtitle {
    font-size: 0.9rem;
  }

  .portfolio-item__links {
    right: 0.5rem;
  }

  .portfolio-item__link > svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
